.main {
  box-shadow: var(--default-box-shadow);
  width: 100%;
  min-height: 20rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 2rem;
  row-gap: 5rem;
}

/* color combination with the primary blue wala color: #f27a18  */

.hide {
  display: none;
}

.show {
  display: block;
}

.inputDiv {
  align-self: center;
}

.inputTask {
  border: 2px solid var(--text-and-background-color);
  border-radius: 0.4rem;
  width: 50vw;
  height: 2rem;
}

.addTaskButton {
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  font-weight: 600;
}

.taskList {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.singleTask {
  display: flex;
  justify-content: space-between;
  font-size: large;
  font-weight: 600;
}

.addTag {
  color: var(--secondary-color);
  background-color: var(--text-and-background-color);
  border-radius: 9px;
}

.updateItem {
  display: flex;
  min-width: 8%;
  justify-content: space-between;
  align-items: center;
}

.allTags {
  display: flex;
  column-gap: 9px;
}

.tag {
  background-color: #f27a18;
  border-radius: 5px;
  width: min-content;
  padding: 1px 8px;
}
