.main {
  box-shadow: var(--default-box-shadow);
  width: 100%;
  min-height: 20rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 2rem;
  row-gap: 5rem;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.inputDiv {
  align-self: center;
}

.inputTask {
  border: 2px solid var(--text-and-background-color);
  border-radius: 0.4rem;
  width: 50vw;
  height: 2rem;
}

.addTaskButton {
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  font-weight: 600;
}

.taskList {
  display: flex;
  justify-content: space-between;
  font-size: large;
  font-weight: 600;
}
