.main {
  display: flex;
  flex-direction: column;
  row-gap: 10%;
  margin: 5% 5rem 0 5rem;
  color: var(--text-and-background-color);
  height: 100vh;
  background-color: #fffefc;
}

.timer {
  align-self: center;
  text-align: center;
  margin: auto;
}
