.welcome {
  font-size: xx-large;
  font-weight: 700;
  color: var(--text-and-backgroundColor);
  font-family: var(--stylish-font);
  margin-bottom: 0;
}

.name {
  color: var(--primary-color);
  font-family: var(--general-font);
}

.pendingTask {
  color: var(--gray-text-color);
  font-size: larger;
  font-weight: 400;
}
